@import "~taro-ui/dist/style/components/icon.scss";
@import "@styles/common.scss";

.user__menu--wrap {
  margin-top: 16px;
  margin-left: 2%;
  padding: 0 3%;
  color: #313131;
  font-size: $size-text-normal;
  background: #fff;
  width: 90%;
  border-radius: 12px;

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid #f8f8f8;

    &:last-child {
      border-bottom: none;
    }

    &-left {
      display: flex;
      align-items: center;
    }

    &-icon {
      width: 46px;
      height: 46px;
      margin-right: 18px;
    }
  }
}

.at-icon-chevron-right {
  color: #c1c1c1;
}
