// 颜色
$color-background: #f8f8f8;
$color-primary: #ffbe27;
$color-secondary: #fe726b;

// 文字颜色
$color-text: #313131;
$color-text-light: #616161;
$color-text-lighter: #919191;
$color-text-bright: #b1b1b1;

// 文字大小
$size-text-huge: 40px;
$size-text-large: 34px;
$size-text-middle: 30px;
$size-text-normal: 28px;
$size-text-small: 24px;
$size-text-tip: 20px;
