@import "~taro-ui/dist/style/components/icon.scss";
@import "@styles/common.scss";

.user__order--wrap {
  margin-left: 2%;
  padding: 0 3%;
  color: #313131;
  font-size: $size-text-normal;
  background: #fff;
  width: 90%;
  border-radius: 12px;
}

.user__order--item {
  &-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 168px;
    color: #616161;
    font-size: $size-text-small;
    padding: 0 30px;

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-icon {
      width: 58px;
      height: 58px;
      margin-bottom: 12px;
    }
  }
}

.at-icon-chevron-right {
  color: #c1c1c1;
}
