@import "@styles/common.scss";

.header-swiper {
  position: relative;
  background: #fff;

  &__wrap {
    height: 480px;

    &-img {
      width: 360px;
      height: 360px;
    }
  }

  &__indicator {
    position: absolute;
    bottom: 20px;
    right: 42px;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 18px;

    &-txt {
      color: #fff;
      font-size: 22px;
    }
  }
}

swiper-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
}
