.ad-swiper {
  padding: 12px 0;

  .ad-swiper__wrap {
    height: 360px;
    border-radius: 24px;

    &-img {
      width: 94%;
      height: 360px;
      border-radius: 24px;
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   background-position: center;
    }
  }
}

swiper-item {
  margin: 0 3%;
}
